
    @* <!-- Preloader --> *@
    @* <div class="preloader-bg"></div> *@
    @* <div id="preloader"> *@
    @*     <div id="preloader-status"> *@
    @*         <div class="preloader-position loader"> <span></span> </div> *@
    @*     </div> *@
    @* </div> *@
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img" data-overlay-dark="4" data-background="/assets/img/slider/about.jpeg">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Get Ride</h6>
                        <h1>About <span>Us</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12">
                    <div class="wow fadeInLeft item">
                        <img src="~/assets/img/slider/1.jpg" class="img-fluid" alt="">
                        <div class="curv-butn icon-bg">
                            <a href="https://youtu.be/XiAqmlIEFi0" class="vid">
                                <div class="icon"> <i class="ti-control-play"></i> </div>
                            </a>
                            <div class="br-left-top">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                     class="w-11 h-11">
                                    <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                          fill="#1b1b1b"></path>
                                </svg>
                            </div>
                            <div class="br-right-bottom">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                     class="w-11 h-11">
                                    <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                          fill="#1b1b1b"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-12 mb-30">
                    <div class="wow fadeInRight content">
                        <div class="section-subtitle">About Us</div>
                        <div class="section-title">We are more than <span> just a Bike rental company</span></div>
                        <p class="mb-30">
                        At EcoRide Jordan, we provide more than just rentals — we deliver freedom and convenience.
                        Whether you're exploring the city or commuting daily, our bikes are ready to go wherever you are.
                        </p>
                        <ul class="list-unstyled list mb-30">
                            <li>
                                <div class="list-icon"> <span class="ti-check"></span> </div>
                                <div class="list-text">
                                    <p>Luxury and Sports Bike</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="ti-check"></span> </div>
                                <div class="list-text">
                                    <p>Premium Bikes</p>
                                </div>
                            </li>
                        </ul> <a href="about.html" class="button-1">
                            Read More <span class="ti-arrow-top-right"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="4"
             data-background="~/assets/img/slider/1.jpg">
        <div class="wow fadeInUp container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-subtitle">Explore</div>
                    <div class="section-title white">Bike <span>Promo</span> Video</div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <a class="vid" href="https://youtu.be/XiAqmlIEFi0">
                        <div class="vid-butn"> <span class="icon"> <i class="ti-control-play"></i> </span> </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    @* <section class="testimonials section-padding mt-15"> *@
    @*     <div class="container"> *@
    @*         <div class="row"> *@
    @*             <div class="wow fadeInUp col-md-12 text-center mb-30"> *@
    @*                 <div class="section-subtitle">Testimonials</div> *@
    @*                 <div class="section-title">What Clients Say</div> *@
    @*             </div> *@
    @*             <div class="col-md-12"> *@
    @*                 <div class="owl-carousel owl-theme"> *@
    @*                     <div class="wow fadeInLeft item"> *@
    @*                         <div class="stars"> *@
    @*                             <span class="rate"> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                             </span> *@
    @*                             <div class="shap-left-top"> *@
    @*                                 <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                      class="w-11 h-11"> *@
    @*                                     <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                           fill="#1b1b1b"></path> *@
    @*                                 </svg> *@
    @*                             </div> *@
    @*                             <div class="shap-right-bottom"> *@
    @*                                 <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                      class="w-11 h-11"> *@
    @*                                     <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                           fill="#1b1b1b"></path> *@
    @*                                 </svg> *@
    @*                             </div> *@
    @*                         </div> <i class="fa-solid fa-quote-left"></i> *@
    @*                         <div class="text"> *@
    @*                             <p> *@
    @*                                 Lorem posuere in miss drana en the nisan semere sceriun amiss etiam ornare in the *@
    @*                                 miss drana is lorem fermen nunta urnase mauris in the interdum. *@
    @*                             </p> *@
    @*                         </div> *@
    @*                         <div class="info mt-30"> *@
    @*                             <div class="img-curv"> *@
    @*                                 <div class="img"> <img src="~/assets/img/team/1.jpg" alt=""> </div> *@
    @*                                 <div class="shap-left-top"> *@
    @*                                     <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                          class="w-11 h-11"> *@
    @*                                         <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                               fill="#1b1b1b"></path> *@
    @*                                     </svg> *@
    @*                                 </div> *@
    @*                                 <div class="shap-right-bottom"> *@
    @*                                     <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                          class="w-11 h-11"> *@
    @*                                         <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                               fill="#1b1b1b"></path> *@
    @*                                     </svg> *@
    @*                                 </div> *@
    @*                             </div> *@
    @*                             <div class="ml-30"> *@
    @*                                 <h6>Dan Martin</h6> *@
    @*                                 <p>Customer</p> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                     </div> *@
    @*                     <div class="wow fadeInUp item"> *@
    @*                         <div class="stars"> *@
    @*                             <span class="rate"> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                             </span> *@
    @*                             <div class="shap-left-top"> *@
    @*                                 <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                      class="w-11 h-11"> *@
    @*                                     <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                           fill="#1b1b1b"></path> *@
    @*                                 </svg> *@
    @*                             </div> *@
    @*                             <div class="shap-right-bottom"> *@
    @*                                 <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                      class="w-11 h-11"> *@
    @*                                     <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                           fill="#1b1b1b"></path> *@
    @*                                 </svg> *@
    @*                             </div> *@
    @*                         </div> <i class="fa-solid fa-quote-left"></i> *@
    @*                         <div class="text"> *@
    @*                             <p> *@
    @*                                 Lorem posuere in miss drana en the nisan semere sceriun amiss etiam ornare in the *@
    @*                                 miss drana is lorem fermen nunta urnase mauris in the interdum. *@
    @*                             </p> *@
    @*                         </div> *@
    @*                         <div class="info mt-30"> *@
    @*                             <div class="img-curv"> *@
    @*                                 <div class="img"> <img src="~/assets/img/team/4.jpg" alt=""> </div> *@
    @*                                 <div class="shap-left-top"> *@
    @*                                     <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                          class="w-11 h-11"> *@
    @*                                         <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                               fill="#1b1b1b"></path> *@
    @*                                     </svg> *@
    @*                                 </div> *@
    @*                                 <div class="shap-right-bottom"> *@
    @*                                     <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                          class="w-11 h-11"> *@
    @*                                         <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                               fill="#1b1b1b"></path> *@
    @*                                     </svg> *@
    @*                                 </div> *@
    @*                             </div> *@
    @*                             <div class="ml-30"> *@
    @*                                 <h6>Olivia Brown</h6> *@
    @*                                 <p>Customer</p> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                     </div> *@
    @*                     <div class="wow fadeInRight item"> *@
    @*                         <div class="stars"> *@
    @*                             <span class="rate"> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                                 <i class="fa-solid fa-star"></i> *@
    @*                             </span> *@
    @*                             <div class="shap-left-top"> *@
    @*                                 <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                      class="w-11 h-11"> *@
    @*                                     <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                           fill="#1b1b1b"></path> *@
    @*                                 </svg> *@
    @*                             </div> *@
    @*                             <div class="shap-right-bottom"> *@
    @*                                 <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                      class="w-11 h-11"> *@
    @*                                     <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                           fill="#1b1b1b"></path> *@
    @*                                 </svg> *@
    @*                             </div> *@
    @*                         </div> <i class="fa-solid fa-quote-left"></i> *@
    @*                         <div class="text"> *@
    @*                             <p> *@
    @*                                 Lorem posuere in miss drana en the nisan semere sceriun amiss etiam ornare in the *@
    @*                                 miss drana is lorem fermen nunta urnase mauris in the interdum. *@
    @*                             </p> *@
    @*                         </div> *@
    @*                         <div class="info mt-30"> *@
    @*                             <div class="img-curv"> *@
    @*                                 <div class="img"> <img src="~/assets/img/team/6.jpg" alt=""> </div> *@
    @*                                 <div class="shap-left-top"> *@
    @*                                     <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                          class="w-11 h-11"> *@
    @*                                         <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                               fill="#1b1b1b"></path> *@
    @*                                     </svg> *@
    @*                                 </div> *@
    @*                                 <div class="shap-right-bottom"> *@
    @*                                     <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" *@
    @*                                          class="w-11 h-11"> *@
    @*                                         <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" *@
    @*                                               fill="#1b1b1b"></path> *@
    @*                                     </svg> *@
    @*                                 </div> *@
    @*                             </div> *@
    @*                             <div class="ml-30"> *@
    @*                                 <h6>Emily Martin</h6> *@
    @*                                 <p>Customer</p> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@
    <!-- Team -->
    <section class="team section-padding">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-12 text-center mb-30">
                    <div class="section-subtitle">Certified Team</div>
                    <div class="section-title">Our Experts Team</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="wow fadeInLeft item">
                            <img src="~/assets/img/team/1.jpg" class="img-fluid" alt="">
                            <div class="bottom-fade"></div>
                            <div class="butn icon-bg">
                                <a href="team-single.html" class="vid">
                                    <div class="icon"> <i class="ti-info"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="title">
                                <h4>Dan Martin</h4>
                                <h6>Sales Consultant</h6>
                            </div>
                        </div>
                        <div class="wow fadeInUp item">
                            <img src="~/assets/img/team/4.jpg" class="img-fluid" alt="">
                            <div class="bottom-fade"></div>
                            <div class="info">
                                <div class="butn icon-bg">
                                    <a href="team-single.html" class="vid">
                                        <div class="icon"> <i class="ti-info"></i> </div>
                                    </a>
                                    <div class="br-left-top">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                    <div class="br-right-bottom">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="title">
                                    <h4>Emily Arla</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeInRight item">
                            <img src="~/assets/img/team/5.jpg" class="img-fluid" alt="">
                            <div class="bottom-fade"></div>
                            <div class="info">
                                <div class="butn icon-bg">
                                    <a href="team-single.html" class="vid">
                                        <div class="icon"> <i class="ti-info"></i> </div>
                                    </a>
                                    <div class="br-left-top">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                    <div class="br-right-bottom">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="title">
                                    <h4>Jasper White</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/team/2.jpg" class="img-fluid" alt="">
                            <div class="bottom-fade"></div>
                            <div class="butn icon-bg">
                                <a href="team-single.html" class="vid">
                                    <div class="icon"> <i class="ti-info"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="title">
                                <h4>Margaret Nancy</h4>
                                <h6>Sales Department</h6>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/team/6.jpg" class="img-fluid" alt="">
                            <div class="bottom-fade"></div>
                            <div class="butn icon-bg">
                                <a href="team-single.html" class="vid">
                                    <div class="icon"> <i class="ti-info"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="title">
                                <h4>Mia Jane</h4>
                                <h6>Finance Department</h6>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/team/3.jpg" class="img-fluid" alt="">
                            <div class="bottom-fade"></div>
                            <div class="butn icon-bg">
                                <a href="team-single.html" class="vid">
                                    <div class="icon"> <i class="ti-info"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="title">
                                <h4>Micheal Brown</h4>
                                <h6>Sales Consultant</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>