
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img" data-overlay-dark="5" data-background="/assets/img/slider/3.jpg">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6>Select Your Bike</h6>
                        <h1>Luxury <span>Bike Fleet</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- divider line -->
    <!-- <div class="line-vr-section"></div> -->
    <!-- Bikes -->
    <section class="cars1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/7.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Kawasaki Ninja ZX-10R</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 1 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 1 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$999</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/8.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Suzuki Hayabusa</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 1 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 1 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$599</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/9.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">BMW S 1000 RR</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 2 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-age"></i> Age 25
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$799</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/11.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Ducati 2021 Panigale V4</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 1 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 1 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$499</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/12.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Ultraviolette F77</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 1 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 1 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$980</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/13.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Honda CBR650R</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 1 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 1 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$399</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/14.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Audi RS7 Sportback</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 1 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 1 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$450</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="item">
                        <div class="img"> <img src="/assets/img/slider/15.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">AUDI Q8</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 1 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 1 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="bike-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$450</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="pagination-wrap">
                        <li><a href="blog2.html#"><i class="ti-angle-left"></i></a></li>
                        <li><a href="blog2.html#">1</a></li>
                        <li><a href="blog2.html#" class="active">2</a></li>
                        <li><a href="blog2.html#">3</a></li>
                        <li><a href="blog2.html#"><i class="ti-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Booking Search -->
    <section class="background bg-img bg-fixed section-padding" data-overlay-dark="5"
             data-background="/assets/img/slider/2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-15">
                    <div class="section-subtitle">Rent Now</div>
                    <div class="section-title">Book An Bike Rental</div>
                </div>
            </div>
            <div class="booking-inner clearfix">
                <form action="#0" class="form1 brdr clearfix">
                    <div class="col2 c3">
                        <div class="select1_wrapper">
                            <label>Choose Bike Type</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Choose Bike Type</option>
                                    <option value="1">All</option>
                                    <option value="2">Luxury Bikes</option>
                                    <option value="3">Sport Bikes</option>
                                    <option value="5">Convertible</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper">
                            <label>Pick Up Location</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Pick Up Location</option>
                                    <option value="1">USA</option>
                                    <option value="2">UK</option>
                                    <option value="3">Dubai</option>
                                    <option value="4">Landon</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col1 c1">
                        <div class="input1_wrapper">
                            <label>Pick Up Date</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Pick Up Date">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper">
                            <label>Drop Off Location</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Drop Off Location</option>
                                    <option value="1">USA</option>
                                    <option value="2">UK</option>
                                    <option value="3">Landon</option>
                                    <option value="4">Dubai</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper">
                            <label>Return Date</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Return Date">
                            </div>
                        </div>
                    </div>
                    <div class="col3 c6">
                        <button type="submit" class="booking-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </section>