
    <!-- Header Inner Slider -->
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="4" data-background="/assets/img/slider/1.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="4" data-background="/assets/img/bikes/c2.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="4" data-background="/assets/img/bikes/c3.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="4" data-background="/assets/img/bikes/c4.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="4" data-background="/assets/img/bikes/c5.jpg"></div>
        </div>
    </header>
    <!-- Details -->
    <section class="car-details section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-12 mb-60">
                            <h3>General Information</h3>
                            <p class="mb-30">
                                Lorem pretium fermentum quam, sit amet cursus ante sollicitudin velen morbi
                                consesua the miss sustion consation porttitor orci sit amet iaculis nisan. Lorem pretium
                                fermentum quam sit amet cursus ante sollicitudin velen fermen morbinetion consesua the
                                risus consequation the porttiton.
                            </p>
                            <ul class="list-unstyled list mb-30">
                                <li>
                                    <div class="list-icon"> <span class="ti-check"></span> </div>
                                    <div class="list-text">
                                        <p>24/7 Roadside Assistance</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-icon"> <span class="ti-check"></span> </div>
                                    <div class="list-text">
                                        <p>Free Cancellation & Return</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-icon"> <span class="ti-check"></span> </div>
                                    <div class="list-text">
                                        <p>Rent Now Pay When You Arrive</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--  Gallery Image -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Image Gallery</h3>
                        </div>
                    </div>
                    <div class="row gallery-items mb-60">
                        <div class="col-md-4 gallery-masonry-wrapper single-item cardio">
                            <a href="/assets/img/bikes/c7.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img">
                                        <img src="/assets/img/bikes/c7.jpg"
                                             class="img-fluid mx-auto d-block" alt="">
                                    </div>
                                    <div class="gallery-masonry-item-img"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-masonry-wrapper single-item crossfit">
                            <a href="/assets/img/bikes/c8.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img">
                                        <img src="/assets/img/bikes/c8.jpg"
                                             class="img-fluid mx-auto d-block" alt="">
                                    </div>
                                    <div class="gallery-masonry-item-img"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-masonry-wrapper single-item crossfit">
                            <a href="/assets/img/bikes/c9.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img">
                                        <img src="/assets/img/bikes/c9.jpg"
                                             class="img-fluid mx-auto d-block" alt="">
                                    </div>
                                    <div class="gallery-masonry-item-img"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- FAQs -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Rental Conditions</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <ul class="accordion-box clearfix">
                                <li class="accordion block">
                                    <div class="acc-btn"><span class="count">1.</span> Contract and Annexes</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">
                                                In addition to the bike rental contract to be signed at
                                                the time of delivery, a credit card is required from our individual
                                                customers. We request our commercial customers to submit their company
                                                documents (tax plate, signature slip, ID photocopy).
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn"><span class="count">2.</span> Driving License and Age</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">
                                                The tenant must be 25 years of age and have a 5-year local
                                                or valid international driver's license for group A, B, C, D vehicles at
                                                the time of the rental agreement.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn"><span class="count">3.</span> Prices</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">
                                                Prices include maintenance and insurance guarantee against
                                                third parties (within legal policy limits). 18% VAT (value added tax) is
                                                not included. Fuel belongs to the renter. Chauffeur driven service and
                                                translator guide are available upon request.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn"><span class="count">4.</span> Payments</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Nesciunt veritatis, corporis delectus necessitatibus numquam ducimus
                                                consequatur labore aspernatur beatae tempora magni quaerat voluptate
                                                voluptatum repellat incidunt architecto, soluta excepturi cumque.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn"><span class="count">5.</span> Delivery</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                Voluptas, nobis, nam accusantium officia cupiditate veritatis possimus
                                                neque vitae libero accusamus qui similique recusandae provident dolorum
                                                illum deserunt ratione dolor ducimus.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn"><span class="count">6.</span> Traffic Fines</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                At harum, ut maiores quidem dolorem magnam debitis qui architecto, quasi
                                                illum assumenda perspiciatis quaerat facere rerum earum doloribus saepe
                                                totam autem!
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-car">
                        <div class="title">
                            <h4>$600 <span>/ rent per day</span></h4>
                        </div>
                        <div class="item">

                            <div class="features">
                                <span><i class="omfi-passengers"></i> Passengers</span>
                                <p>1</p>
                            </div>

                            <div class="features">
                                <span><i class="omfi-luggage"></i> Luggage</span>
                                <p>1 Bags</p>
                            </div>
                            <div class="features">
                                <span><i class="omfi-condition"></i> Air Condition</span>
                                <p>No</p>
                            </div>
                            <div class="features">
                                <span><i class="omfi-age"></i> Age</span>
                                <p>25</p>
                            </div>
                            <div class="btn-double mt-30" data-grouptype="&amp;">
                                <a href="#0">Rent Now</a> <a href="#"
                                                             target="_blank"><span class="fa-brands fa-whatsapp"></span> WhatsApp</a>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img src="/assets/img/add1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
