
    @* <!-- Preloader --> *@
    @* <div class="preloader-bg"></div> *@
    @* <div id="preloader"> *@
    @*     <div id="preloader-status"> *@
    @*         <div class="preloader-position loader"> <span></span> </div> *@
    @*     </div> *@
    @* </div> *@
    <!-- Kenburns SlideShow -->
    <aside class="kenburns-section" id="kenburnsSliderContainer" data-overlay-dark="5">
        <div class="kenburns-inner h-100">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row h-100">
                        <div class="col-md-12">
                            <h6>* Premium</h6>
                            <h1>Rental Luxurious Bike</h1>
                            <h5>You can rent any of our luxurious Bikes.</h5>
                            <a href="#0" class="button-1 mt-15 mb-15 mr-15">
                                View Details <span class="ti-arrow-top-right"></span>
                            </a>
                            <a href="#0" class="button-2 mt-15 mb-15">
                                Rent Now <span class="ti-arrow-top-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- Services Box -->
    <div class="services-box mt--120 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="wow fadeInLeft item active">
                        <span class="icon ti-money"></span>
                        <h5>Affordable Rents</h5>
                        <p>
                        Enjoy luxury biking without breaking the bank. Our pricing is transparent, daily-based, and fits every adventurer's budget in Jordan.
                    </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="wow fadeInUp item">
                        <span class="icon ti-car"></span>
                        <h5>Amazing Fleet of Bikes</h5>
                        <p>
                        Choose from a wide range of high-end sports and luxury bikes, all maintained to the highest standards and ready for the road, an experiance to enjoy.
                    </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="wow fadeInRight item">
                        <span class="icon omfi-location"></span>
                        <h5>Lots Of Pickup Locations</h5>
                        <p>
                        Pick up your ride from multiple locations across Jordan. We’re expanding our network to make rentals easier and more convenient for you.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12">
                    <div class="wow fadeInLeft item">
                        <img src="~/assets/img/team/home_bike.jpg" class="img-fluid" alt="">
                        <div class="curv-butn icon-bg">
                            <a href="https://youtu.be/XiAqmlIEFi0" class="vid">
                                <div class="icon"> <i class="ti-control-play"></i> </div>
                            </a>
                            <div class="br-left-top">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                     class="w-11 h-11">
                                    <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                          fill="#1b1b1b"></path>
                                </svg>
                            </div>
                            <div class="br-right-bottom">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                     class="w-11 h-11">
                                    <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                          fill="#1b1b1b"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-12 mb-30">
                    <div class="wow fadeInRight content">
                    <div class="section-subtitle">Our Vision</div>
                    <div class="section-title">
                        We Are Redefining How Jordan Moves
                        <span>
                            With Premium Bike Rentals

                        </span>
                    </div>
                        <p class="mb-30">
                        EcoRide Jordan isn't just a rental service — it's a smarter, greener way to explore the city. From high-end bikes to flexible bookings and multiple pickup spots, we make mobility luxurious, fast, and effortless. Ride your way, every day.


                        </p>
                        <ul class="list-unstyled list mb-30">
                            <li>
                                <div class="list-icon"> <span class="ti-check"></span> </div>
                                <div class="list-text">
                                    <p>Luxury and Sports Bike</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="ti-check"></span> </div>
                                <div class="list-text">
                                    <p>Premium Bikes</p>
                                </div>
                            </li>
                        </ul> <a href="about.html" class="button-1">
                            Read More <span class="ti-arrow-top-right"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- become to be -->
    <section id="become">
        <div class="wow fadeInUp container">
            <div class="row">
                <div class="col-md-12 text-center mb-15">
                    <div class="section-subtitle">Become</div>
                    <div class="section-title">Be a part of our family</div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-lg-6 px-0">
                    <div class="set_bg d-flex align-items-center justify-content-between " style="height: 350px;">
                        <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="~/assets/img/banner-left.png" alt="">
                        <div class="text-right ">
                            <h3 class=" mb-3">Want to be driver?</h3>
                            <p class="mb-4">
                            Join our network of passionate riders and start earning by renting your own bike through EcoRide Jordan.
                            </p>
                            <a class="button-1" href="#">Start Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 px-0">
                    <div class="set_bg1 d-flex align-items-center justify-content-between" style="height: 350px;">
                        <div class="text-left">
                            <h3 class=" mb-3">Looking for a bike ?</h3>
                            <p class="mb-4">
                            Browse our fleet of premium bikes and book the perfect ride for your next trip, adventure, or daily commute.

                            </p>
                            <a class="button-1" href="#">Start Now</a>
                        </div>
                        <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4" src="~/assets/img/banner-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Booking Search -->
    <section class="background bg-img bg-fixed section-padding" data-overlay-dark="5"
             data-background="~/assets/img/slider/2.jpg">
        <div class="wow fadeInUp container">
            <div class="row">
                <div class="col-md-12 text-center mb-15">
                    <div class="section-subtitle">Rent Now</div>
                    <div class="section-title">Book An Bike Rental</div>
                </div>
            </div>
            <div class="booking-inner clearfix">
                <form action="#0" class="form1 brdr clearfix">
                    <div class="col2 c3">
                        <div class="select1_wrapper">
                            <label>Choose Bike Type</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Choose Bike Type</option>
                                    <option value="1">All</option>
                                    <option value="2">Luxury Bikes</option>
                                    <option value="3">Sport Bikes</option>
                                    <option value="5">Convertible</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper">
                            <label>Pick Up Location</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Pick Up Location</option>
                                    <option value="1">USA</option>
                                    <option value="2">UK</option>
                                    <option value="3">Dubai</option>
                                    <option value="4">Landon</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col1 c1">
                        <div class="input1_wrapper">
                            <label>Pick Up Date</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Pick Up Date">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper">
                            <label>Drop Off Location</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Drop Off Location</option>
                                    <option value="1">USA</option>
                                    <option value="2">UK</option>
                                    <option value="3">Landon</option>
                                    <option value="4">Dubai</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper">
                            <label>Return Date</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Return Date">
                            </div>
                        </div>
                    </div>
                    <div class="col3 c6">
                        <button type="submit" class="booking-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- bike price section -->
    <section class="cars1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-15">
                    <div class="section-subtitle">Categories</div>
                    <div class="section-title">Rental Bike Types</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="wow fadeInLeft item">
                        <div class="img"> <img src="~/assets/img/slider/7.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Lamborghini Urus</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 2 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 2 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="car-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$750</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="wow fadeInRight item">
                        <div class="img"> <img src="~/assets/img/slider/8.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Aston Martin DBX</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 2 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 2 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="car-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$500</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="wow fadeInUp item">
                        <div class="img"> <img src="~/assets/img/slider/9.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Bugatti Mistral W16</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 2 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-age"></i> Age 25
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="car-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$800</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-60">
                    <div class="wow fadeInUp item">
                        <div class="img"> <img src="~/assets/img/slider/11.jpg" alt=""> </div>
                        <div class="con active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="title"><a href="#">Bentley Bentayga</a></div>
                                    <div class="details">
                                        <span><i class="omfi-door"></i> 2 Seats</span> <span>
                                            <i class="omfi-transmission"></i> Auto
                                        </span> <span>
                                            <i class="omfi-luggage"></i> 2 Bags
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book">
                                        <div><a href="car-details.html" class="btn"><span>Rent Now</span></a></div>
                                        <div><span class="price">$600</span><span>/day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="wow fadeInUp row"> *@
                @*     <div class="col-md-12 mt-30 text-center"> *@
                @*         <ul class="pagination-wrap"> *@
                @*             <li><a href="blog2.html#"><i class="ti-angle-left"></i></a></li> *@
                @*             <li><a href="blog2.html#">1</a></li> *@
                @*             <li><a href="blog2.html#" class="active">2</a></li> *@
                @*             <li><a href="blog2.html#">3</a></li> *@
                @*             <li><a href="blog2.html#"><i class="ti-angle-right"></i></a></li> *@
                @*         </ul> *@
                @*     </div> *@
                @* </div> *@
            </div>
        </div>
    </section>
    <!-- bike price section -->
    <!-- Bike Category -->
    <section class="car-types1 mt-5">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-12 text-center mb-30">
                    <div class="section-subtitle">Categories</div>
                    <div class="section-title">Rental <span>Bike Types</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="wow fadeInLeft item">
                            <img src="~/assets/img/bikes/2.jpg" class="img-fluid" alt="">
                            <div class="title">
                                <h4>Luxury Bikes</h4>
                            </div>
                            <div class="curv-butn icon-bg">
                                <a href="car-details.html" class="vid">
                                    <div class="icon"> <i class="ti-arrow-top-right"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeInUp item">
                            <img src="~/assets/img/bikes/3.jpg" class="img-fluid" alt="">
                            <div class="title">
                                <h4>Sport Bikes</h4>
                            </div>
                            <div class="curv-butn icon-bg">
                                <a href="car-details.html" class="vid">
                                    <div class="icon"> <i class="ti-arrow-top-right"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeInRight item">
                            <img src="~/assets/img/bikes/4.jpg" class="img-fluid" alt="">
                            <div class="title">
                                <h4>SUV</h4>
                            </div>
                            <div class="curv-butn icon-bg">
                                <a href="car-details.html" class="vid">
                                    <div class="icon"> <i class="ti-arrow-top-right"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/bikes/1.jpg" class="img-fluid" alt="">
                            <div class="title">
                                <h4>Convertible</h4>
                            </div>
                            <div class="curv-butn icon-bg">
                                <a href="car-details.html" class="vid">
                                    <div class="icon"> <i class="ti-arrow-top-right"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/bikes/5.jpg" class="img-fluid" alt="">
                            <div class="title">
                                <h4>Sedan</h4>
                            </div>
                            <div class="curv-butn icon-bg">
                                <a href="car-details.html" class="vid">
                                    <div class="icon"> <i class="ti-arrow-top-right"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/bikes/06.jpg" class="img-fluid" alt="">
                            <div class="title">
                                <h4>Small Bikes</h4>
                            </div>
                            <div class="curv-butn icon-bg">
                                <a href="car-details.html" class="vid">
                                    <div class="icon"> <i class="ti-arrow-top-right"></i> </div>
                                </a>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Process -->
    <section class="process section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="wow fadeInUp col-md-12 text-center mb-30">
                    <div class="section-subtitle">Steps</div>
                    <div class="section-title white">Bike Rental <span>Process</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-30">
                    <div class="wow fadeInLeft item">
                        <div class="text">
                            <h5>Choose A Bike</h5>
                            <p>View our range of bike, find your perfect bike for the coming days.</p>
                        </div>
                        <div class="numb">
                            <div class="numb-curv">
                                <div class="number">01.</div>
                                <div class="shap-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-30">
                    <div class="wow fadeInUp item">
                        <div class="text">
                            <h5>Come In Contact</h5>
                            <p>Our advisor team is ready to help you with the booking process or any questions.</p>
                        </div>
                        <div class="numb">
                            <div class="numb-curv">
                                <div class="number">02.</div>
                                <div class="shap-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-30">
                    <div class="wow fadeInRight item">
                        <div class="text">
                            <h5>Enjoy Driving</h5>
                            <p>Receive the key and enjoy your car. We treat all our Bikes with respect.</p>
                        </div>
                        <div class="numb">
                            <div class="numb-curv">
                                <div class="number">03.</div>
                                <div class="shap-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video -->
    @* <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="4" *@
    @*          data-background="~/assets/img/slider/1.jpg"> *@
    @*     <div class="wow fadeInUp container"> *@
    @*         <div class="row"> *@
    @*             <div class="col-md-12 text-center"> *@
    @*                 <div class="section-subtitle">Explore</div> *@
    @*                 <div class="section-title white">Bike <span>Promo</span> Video</div> *@
    @*             </div> *@
    @*         </div> *@
    @*         <div class="row"> *@
    @*             <div class="text-center col-md-12"> *@
    @*                 <a class="vid" href="https://youtu.be/XiAqmlIEFi0"> *@
    @*                     <div class="vid-butn"> <span class="icon"> <i class="ti-control-play"></i> </span> </div> *@
    @*                 </a> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@
    <!-- Testimonials -->
    <section class="testimonials section-padding mt-15">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-12 text-center mb-30">
                    <div class="section-subtitle">Testimonials</div>
                    <div class="section-title">What Clients Say</div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="wow fadeInLeft item">
                            <div class="stars">
                                <span class="rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                                <div class="shap-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div> <i class="fa-solid fa-quote-left"></i>
                            <div class="text">
                                <p>
                                تجربتي مع EcoRideJordan كانت مميزة جداً. الموقع سهل الاستخدام، والدراجة كانت نظيفة، والفريق محترف. أنصح الجميع بالتجربة دون تردد.
                            </p>
                            </div>
                            <div class="info mt-30">
                                <div class="img-curv">
                                    <div class="img"> <img src="~/assets/img/team/1.jpg" alt=""> </div>
                                    <div class="shap-left-top">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                    <div class="shap-right-bottom">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-30">
                                    <h6>علي الخطيب</h6>
                                    <p>عميل</p>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeInUp item">
                            <div class="stars">
                                <span class="rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                                <div class="shap-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div> <i class="fa-solid fa-quote-left"></i>
                            <div class="text">
                                <p>
                                Booking my ride through EcoRideJordan was super easy and affordable. The bike was in top shape, and the whole process was smooth from start to finish
                                </p>
                            </div>
                            <div class="info mt-30">
                                <div class="img-curv">
                                    <div class="img"> <img src="~/assets/img/team/4.jpg" alt=""> </div>
                                    <div class="shap-left-top">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                    <div class="shap-right-bottom">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-30">
                                    <h6>Lisa Ann</h6>
                                    <p>Customer</p>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeInRight item">
                            <div class="stars">
                                <span class="rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                                <div class="shap-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                         class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                              fill="#1b1b1b"></path>
                                    </svg>
                                </div>
                            </div> <i class="fa-solid fa-quote-left"></i>
                            <div class="text">
                                <p>
                                I rented a bike with my friends last weekend. It was affordable, reliable, and the service team helped us quickly and professionally
                            </p>
                            </div>
                            <div class="info mt-30">
                                <div class="img-curv">
                                    <div class="img"> <img src="~/assets/img/team/6.jpg" alt=""> </div>
                                    <div class="shap-left-top">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                    <div class="shap-right-bottom">
                                        <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             class="w-11 h-11">
                                            <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                                  fill="#1b1b1b"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-30">
                                <h6>Lina Hasan</h6>
                                    <p>Customer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog 1 -->
    <section class="blog1 section-padding">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-12 text-center mb-30">
                    <div class="section-subtitle">Our Blog</div>
                    <div class="section-title">Latest <span>News</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="wow fadeInLeft item">
                            <div class="img"> <img src="~/assets/img/blog/03.jpg" alt=""> </div>
                            <div class="wrapper">
                                <div class="date"> <a href="#">29 Dec, 2024</a> </div>
                                <div class="con">
                                    <div class="category">
                                        <a href="#"><i class="ti-user"></i>Olivia D.</a> <a href="#"><i class="ti-comment"></i>10 Comments</a>
                                    </div>
                                    <div class="text"> <a href="post.html">Documents required for Bike rental</a> </div>
                                    <a href="post.html" class="icon-btn"><i class="ti-arrow-top-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeInUp item">
                            <div class="img"> <img src="~/assets/img/blog/04.jpg" alt=""> </div>
                            <div class="wrapper">
                                <div class="date"> <a href="#">27 Dec, 2024</a> </div>
                                <div class="con">
                                    <div class="category">
                                        <a href="#"><i class="ti-user"></i>Martin C.</a> <a href="#"><i class="ti-comment"></i>10 Comments</a>
                                    </div>
                                    <div class="text">
                                        <a href="post.html">Rental cost of sport and other Bikes</a>
                                    </div> <a href="post.html" class="icon-btn"><i class="ti-arrow-top-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeInRight item">
                            <div class="img"> <img src="~/assets/img/blog/05.jpg" alt=""> </div>
                            <div class="wrapper">
                                <div class="date"> <a href="#">25 Dec, 2024</a> </div>
                                <div class="con">
                                    <div class="category">
                                        <a href="#"><i class="ti-user"></i>Martin C.</a> <a href="#"><i class="ti-comment"></i>10 Comments</a>
                                    </div>
                                    <div class="text">
                                        <a href="post.html">Rental Bikes how to check driving fines?</a>
                                    </div> <a href="post.html" class="icon-btn"><i class="ti-arrow-top-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <img src="~/assets/img/blog/06.jpg" alt=""> </div>
                            <div class="wrapper">
                                <div class="date"> <a href="#">23 Dec, 2024</a> </div>
                                <div class="con">
                                    <div class="category">
                                        <a href="#"><i class="ti-user"></i>Arya T.</a> <a href="#">
                                            <i class="ti-comment"></i>10 Comments
                                        </a>
                                    </div>
                                    <div class="text">
                                        <a href="post.html">
                                            How to Rent a Bike at the Airport
                                            Terminal?
                                        </a>
                                    </div> <a href="post.html" class="icon-btn">
                                        <i class="ti-arrow-top-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <img src="~/assets/img/blog/01.jpg" alt=""> </div>
                            <div class="wrapper">
                                <div class="date"> <a href="blog1.html">22 Dec, 2024</a> </div>
                                <div class="con">
                                    <div class="category">
                                        <a href="#"><i class="ti-user"></i>Micheal B.</a> <a href="#"><i class="ti-comment"></i>10 Comments</a>
                                    </div>
                                    <div class="text">
                                        <a href="post.html">
                                            Penalties for violating the rules in rental
                                            bikes
                                        </a>
                                    </div> <a href="post.html" class="icon-btn">
                                        <i class="ti-arrow-top-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <img src="~/assets/img/blog/02.jpg" alt=""> </div>
                            <div class="wrapper">
                                <div class="date"> <a href="#">21 Dec, 2024</a> </div>
                                <div class="con">
                                    <div class="category">
                                        <a href="#"><i class="ti-user"></i>Daniel K.</a> <a href="#"><i class="ti-comment"></i>10 Comments</a>
                                    </div>
                                    <div class="text">
                                        <a href="post.html">How to check a bike before renting?</a>
                                    </div> <a href="post.html" class="icon-btn"><i class="ti-arrow-top-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @section Scripts{
    <script>
        $(document).ready(function () {
            $('#kenburnsSliderContainer').vegas({
                slides: [{
                    src: "/assets/img/slider/1.jpg"
                }, {
                    src: "/assets/img/slider/3.jpg"
                }, {
                    src: "/assets/img/slider/11.jpg"
                }],
                overlay: true,
                transition: 'fade2',
                animation: 'kenburnsUpRight',
                transitionDuration: 1000,
                delay: 10000,
                animationDuration: 20000
            });
        });
    </script>
    }